<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VitsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VitsUI.Properties.Settings>
            <setting name="WinWitdh" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Python_env_path" serializeAs="String">
                <value>.\env\python.exe</value>
            </setting>
            <setting name="sovitsModName" serializeAs="String">
                <value>G_100.pth</value>
            </setting>
            <setting name="sovitsConfig" serializeAs="String">
                <value>config.json</value>
            </setting>
            <setting name="sovitsDiffMods" serializeAs="String">
                <value />
            </setting>
            <setting name="sovitsDiffConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="isEnableFeature" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeatureArg" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="f0_predictor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Diff_step" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Enable_NSF_HIFIGAN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_predict_f0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_model_name" serializeAs="String">
                <value>feature_and_index.pkl</value>
            </setting>
            <setting name="Model_path" serializeAs="String">
                <value>./logs/44k/</value>
            </setting>
            <setting name="Config_path" serializeAs="String">
                <value>./configs</value>
            </setting>
            <setting name="isEnableDiff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isEnableAutoKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isEnableNSF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffConfig" serializeAs="String">
                <value>diffusion.yaml</value>
            </setting>
            <setting name="DiffPath" serializeAs="String">
                <value>./logs/44k/diffusion</value>
            </setting>
            <setting name="MusicInputPath" serializeAs="String">
                <value>raw</value>
            </setting>
            <setting name="MusicOutputPath" serializeAs="String">
                <value>results</value>
            </setting>
        </VitsUI.Properties.Settings>
    </userSettings>
</configuration>